@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
nav {
  color: white;
  height: 15vh;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.744);
  display: flex;
  position: fixed;
  z-index: 1;
}
nav .logo {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 60px;
}
nav .logo img {
  height: 60px;
  margin-right: 10px;
}
nav .logo h1 {
  font-weight: bold;
  color: white;
}
nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul li a {
  color: white;
  padding: 10px;
}
nav ul li a:hover {
  border-bottom: 2px solid red;
  color: red;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav .logo {
    width: 30%;
    margin-left: 40px;
  }
  nav ul {
    width: 70%;
    margin-left: 10px;
    display: flex;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.content-cards {
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.086);
}
.content-cards h3 {
  color: #003edd;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.content-cards p {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.content-cards .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.content-cards .cards .content-card1,
.content-cards .cards .content-card2,
.content-cards .cards .content-card3,
.content-cards .cards .content-card4 {
  position: relative;
  width: 250px;
  height: 140px;
  background-color: rgba(24, 206, 194, 0.3882352941);
  margin-top: 110px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
}
.content-cards .cards .content-card1 .card-image1,
.content-cards .cards .content-card2 .card-image1,
.content-cards .cards .content-card3 .card-image1,
.content-cards .cards .content-card4 .card-image1 {
  width: 39%;
  height: 16vh;
  border-radius: 100px;
  background-size: 120px;
  transform: translateY(-40px);
  margin-left: 75px;
  border: 2px solid white;
  background-image: url(/images/Tik-krerng.jpg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content-cards .cards .content-card1 .content-card4,
  .content-cards .cards .content-card2 .content-card4,
  .content-cards .cards .content-card3 .content-card4,
  .content-cards .cards .content-card4 .content-card4 {
    display: none;
  }
}
.content-cards .cards .content-card1 .card1,
.content-cards .cards .content-card2 .card1,
.content-cards .cards .content-card3 .card1,
.content-cards .cards .content-card4 .card1 {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-20px);
}
.content-cards .cards .content-card1 .card1 h4,
.content-cards .cards .content-card2 .card1 h4,
.content-cards .cards .content-card3 .card1 h4,
.content-cards .cards .content-card4 .card1 h4 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.content-cards .cards .content-card1 .card1 .price,
.content-cards .cards .content-card2 .card1 .price,
.content-cards .cards .content-card3 .card1 .price,
.content-cards .cards .content-card4 .card1 .price {
  display: flex;
  justify-content: center;
  color: #dfc74a;
}
.content-cards .cards .content-card1 .card-image2,
.content-cards .cards .content-card2 .card-image2,
.content-cards .cards .content-card3 .card-image2,
.content-cards .cards .content-card4 .card-image2 {
  width: 39%;
  height: 16vh;
  border-radius: 100px;
  background-size: 120px;
  transform: translateY(-40px);
  margin-left: 75px;
  border: 2px solid white;
  background-image: url(/images/cha-sondekkur.jpg);
}
.content-cards .cards .content-card1 .card-image3,
.content-cards .cards .content-card2 .card-image3,
.content-cards .cards .content-card3 .card-image3,
.content-cards .cards .content-card4 .card-image3 {
  width: 39%;
  height: 16vh;
  border-radius: 100px;
  background-size: 120px;
  transform: translateY(-40px);
  margin-left: 75px;
  border: 2px solid white;
  background-image: url(/images/bay-sachjrouk.jpeg);
}
.content-cards .cards .content-card1 .card-image4,
.content-cards .cards .content-card2 .card-image4,
.content-cards .cards .content-card3 .card-image4,
.content-cards .cards .content-card4 .card-image4 {
  width: 39%;
  height: 16vh;
  border-radius: 100px;
  background-size: 120px;
  transform: translateY(-40px);
  margin-left: 75px;
  border: 2px solid white;
  background-image: url(/images/char-misur.jpg);
}

header {
  width: 100%;
  padding-top: 15vh;
  color: white;
  height: 100vh;
  background-image: url(../images/photo_2023-09-24_10-59-29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
header .bg-img {
  background-color: rgba(15, 13, 13, 0.309);
  width: 100%;
  height: 100%;
}
header h3 {
  padding: 50px 0 30px 60px;
}
header h3 .bold {
  font-size: 25px;
  color: #dfc74a;
}
header .p-head {
  width: 100%;
}
header .content-par {
  width: 50%;
  padding-left: 60px;
  font-size: small;
  text-align: justify;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .content-par {
    padding-left: 40px;
    padding-top: 40px;
  }
  header h3 {
    padding: 80px 0 30px 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .content-par {
    width: 70%;
  }
}
header .box-header {
  display: flex;
  width: 90%;
  margin-left: 65px;
  margin-top: 50px;
}
header .box-header .box-content1 {
  width: 49%;
  background-color: rgba(0, 173, 221, 0.4980392157);
  height: 220px;
  padding: 20px;
}
header .box-header .box-content1 img {
  width: 60px;
}
header .box-header .box-content1 span {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  margin-bottom: 10px;
  color: #dfc74a;
  padding-bottom: 20px;
}
header .box-header .box-content1 h5 {
  margin-top: 5px;
  color: black;
  text-align: justify;
}
header .box-header .box-content2 {
  width: 49%;
  background-color: rgba(0, 173, 221, 0.4980392157);
  height: 220px;
  padding: 25px;
}
header .box-header .box-content2 img {
  width: 60px;
}
header .box-header .box-content2 span {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  margin-bottom: 10px;
  color: #dfc74a;
}
header .box-header .box-content2 h5 {
  margin-top: 5px;
  color: black;
  text-align: justify;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .box-header .box-content1 {
    height: 320px;
    width: 49%;
  }
  header .box-header .box-content2 {
    height: 320px;
    width: 49%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .box-header {
    margin-top: 120px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .box-header {
    margin-left: 40px;
  }
}

.container .pic-content {
  height: 80vh;
  background-image: url(/images/student-image.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.container .pic-content .speaker1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 40px;
  margin: 10px;
  background-color: rgba(24, 206, 194, 0.5058823529);
  border-radius: 5px 20px 0 5px;
  margin-left: 100px;
}
.container .pic-content .speaker2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 40px;
  margin: 10px;
  background-color: rgba(24, 206, 194, 0.5058823529);
  border-radius: 5px 20px 0 5px;
  margin-left: 300px;
  margin-top: 30px;
}
.container .pic-content .speaker3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 40px;
  margin: 10px;
  background-color: rgba(24, 206, 194, 0.5058823529);
  border-radius: 20px 5px 5px 0;
  margin-left: 100px;
  margin-right: 600px;
  margin-top: 70px;
}
.container .pic-content .para {
  background-color: rgba(0, 0, 0, 0.394);
  padding: 20px;
  margin-top: 80px;
  color: white;
}/*# sourceMappingURL=home.css.map */