@import "./components/main";
form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.picture{
    width: 33.33%;
    height: 100vh;
    padding-top: 15vh;
}
.picture img{
    padding-top: 5%;
    padding-left:15% ;
    height: 76%;
}
.user-form{
    width: 47%;
    height: 100vh;
}
.user-form h2{
    display: none;
}
.email {
    width: 206%;
}
.user-name input,.student-id input,.email input{
    height: 7vh;
    width: 45%;
    margin-top: 3%;
}
.feedback input{
    height: 25vh;
    margin-top: 3%;
    width: 93%;
}
.btn{
    margin-top: 6%;
    height: 7vh;
    width: 95%;
    border-radius:20px ;
    border: 2px solid teal;
    background-color:teal;
    color: white;
}