@import "./components/main";
@import "./components/footer";
form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.picture{
    width: 33.33%;
    height: 100vh;
    padding-top: 20vh;
}
.picture img{
    padding-left:10% ;
    height: 76%;
    width: 90%;
}
.user-form{
    width: 47%;
    height: 100vh;
    padding-top: 20vh;
}
.user-form h2{
    display: none;
}
.email {
    width: 202%;
}
.user-name input,.student-id input,.email input{
    height: 7vh;
    width: 45%;
    border: 2px solid black;
    padding-left: 5px;
}
.student-id,.email,.feedback{
    padding-top: 5vh;
}

.feedback input{
    height: 25vh;
    width: 91%;
    border: 2px solid black;
    padding-left: 5px;
}
.btn{
    height: 7vh;
    width: 90%;
    border-radius:20px ;
    border: 2px solid teal;
    background-color:teal;
    color: white;
}
.button{
    padding-top: 5vh;
}
