@import"./components/main";
@import"./components/card";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

header {
    width: 100%;
    padding-top: 15vh;
    color: $neutral;
    height: 620px;
    background-image: url(../images/photo_2023-09-24_10-59-29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    .bg-img {
        background-color: rgba(15, 13, 13, 0.309);
        width: 100%;
        height: 100%;
    }

    h3 {
        padding: 50px 0 30px 60px;

        .bold {
            font-size: 25px;
            color: $mainBrandColor;
        }
    }

    .p-head {
        width: 100%;
    }

    .content-par {
        width: 50%;
        padding-left: 60px;
        font-size: small;
        text-align: justify;
    }

    @include responsive('tablet') {
        .content-par {
            padding-left: 40px;
            padding-top: 10px;
        }

        h3 {
            padding: 80px 0 30px 40px;
        }
    }

    @include responsive('tablet') {
        .content-par {
            width: 70%;
        }
    }

    .box-header {
        display: flex;
        width: 90%;
        margin-left: 65px;
        margin-top: 6%;

        .box-content1 {
            width: 49%;
            background-color: #00addd7f;
            height: 220px;
            padding: 20px;

            img {
                width: 60px;
            }

            span {
                font-family: 'Dancing Script', cursive;
                font-size: 25px;
                margin-bottom: 10px;
                color: $mainBrandColor;
                padding-bottom: 20px;
            }

            h5 {
                margin-top: 5px;
                color: black;
                text-align: justify;
            }
        }

        .box-content2 {
            width: 49%;
            background-color: #00addd7f;
            height: 220px;
            padding: 25px;

            img {
                width: 60px;
            }

            span {
                font-family: 'Dancing Script', cursive;
                font-size: 25px;
                margin-bottom: 10px;
                color: $mainBrandColor;
            }

            h5 {
                margin-top: 5px;
                color: $thirdcolor;
                text-align: justify;
            }
        }

        @include responsive('tablet') {
            .box-content1 {
                height: 300px;
                width: 49%;
            }

            .box-content2 {
                height: 300px;
                width: 49%;
            }
        }

        
    }
    // @include responsive('tablet') {
    //     margin-top: 40px;
    // }

    @include responsive('tablet') {
        .box-header {
            margin-left: 40px;
        }
    }
}
@include responsive('tablet'){
    header{
        height: 700px;
    }
}
.container {
    .pic-content {
        height: 80vh;
        // background-color: #dfc74a;
        background-image: url(/images/student-image.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;

        .speaker1 {
            @include media;
            @include get-space;
            border-radius: 5px 20px 0 5px;
            margin-left: 100px;
        }

        .speaker2 {

            @include media;
            @include get-space;
            border-radius: 5px 20px 0 5px;
            margin-left: 300px;
            margin-top: 30px;
        }

        .speaker3 {
            @include media;
            @include get-space;
            border-radius: 20px 5px 5px 0;

            margin: {
                left: 100px;
                right: 600px;
                top: 70px;
            }
        }

        @include responsive('tablet') {
            .speaker1 {
                width: 40%;
                height: 40px;
                margin-top: 95px;
                margin-left: 85px;
            }
            .speaker2{
                width: 40%;
                height: 40px;
            }
            .speaker3{
                width: 40%;
                height: 40px;
                margin: {
                    left: 600px;
                    right: 600px;
                    top: 90px;
                }
            }
        }

        .para {
            background-color: rgba(0, 0, 0, 0.394);
            padding: 20px;
            margin-top: 80px;
            color: white;
        }
        @include responsive('tablet'){
            .para{
                margin-top: 200px;
            }
            
        }
    }

}