@import"vairiable";
nav {
    color: $neutral;
    height: 15vh;
    width: 100%;
    border-bottom: 1px solid $neutral;
    background-color: rgba(0, 0, 0, 0.541);
    display: flex;
    position: fixed;
    .logo {
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 60px;

        img {
            height: 60px;
            margin-right: 10px;
        }

        h1 {
            font-weight: bold;
            color: $neutral;
        }
    }

    ul {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        li {
            a {
                font-style: italic;
                color: $neutral;
            }
        }
    }
}